[flake8]
exclude = venv, __init__.py, doc/_build
select = B,B9,C,D,DAR,E,F,N,RST,S,W
count = True
max-complexity = 10
max-line-length = 100
statistics = True
ignore =
  # Whitespace before ':'.
  E203,
  # Line too long (82 > 79 characters).
  E501,
  # Line break occurred before a binary operator.
  W503,
  # Invalid escape sequence
  W605,
  # undefined name name
  F821,
  # Function is too complex
  C901,
  # https://docs.python.org/3/tutorial/errors.html#exception-chaining for details
  B904,
  # Use of !r in f strings when internal values are quoted (these are the same BTW)
  B028,
  B907
