repos:
  - repo: https://github.com/psf/black
    rev: 25.11.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        # args not working with pyproject.toml
        args: [
            -lll,
            -n, "3",
            -r,
            -x, "venv/*, tests/*"
        ]
        additional_dependencies: [pbr]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
    -   id: mypy
        # Exclude only works here, not in config files
        exclude: "tests/|doc/"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-merge-conflict
    - id: debug-statements
    - id: check-yaml
    - id: trailing-whitespace
    - id: check-added-large-files
    - id: check-case-conflict
